<div class="container">
  <div class="row mt-1">
    <div class="col-3 socialisme">
      {{n}}
    </div>
    <div class="col-9 conservatisme">
      {{myWisdom}}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3 socialisme">
      {{equalToN(8)}} {{equalToN(9)}}
    </div>
    <div class="col-9 conservatisme">
      {{bruh(1)}}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3 socialisme">
      {{equalToN(8)}} {{equalToN(9)}}
    </div>
    <div class="col-9 conservatisme">
      {{bruh(1)}}
    </div>
  </div>
</div>